
/************ Classes ************/

.postick {
     border:1px solid gray;
     width:200px;
     height:200px;
     padding:4px;
     font-size:85%;
     background:#FFFC7F;
     -moz-box-shadow:2px 2px 2px #999999;
     -webkit-box-shadow:2px 2px 2px #999999;
     position:absolute;
}




/* Postick's button "delete" */
.delete{
     
     cursor:pointer;
     font-size:120%;
   
}

.salva{

     cursor:pointer;
     font-size:120%;
   

}


/* Content to be editable inside the postick */
.editable {
     cursor:pointer;
     height:170px;

     width:100%;
     overflow:hidden;
     position:relative;
     -moz-text-shadow: 1px 1px 0px white;
     text-shadow: 1px 1px 0px white;
}

.editable:hover{
     border:1px dotted gray;
}