/* 
    Document   : public
    Created on : 16-Feb-2013, 17:48:31
    Author     : johnny
    Description:
        Purpose of the stylesheet follows.
*/


body {
     font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 80%;
    background:  repeat-y scroll center center #CBD6DE;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

#maindiv{

position:relative;
left: 250px;

}

#maindiv > h2 {
    text-align: left;
}
.footer{
    margin-bottom: auto;
    margin-top: 1em;
    text-align: center;
    border-top:solid 2px #c0c0c0;
    border-bottom:solid 1px #c0c0c0;
}


#logo{
  
    height:45px; 
    width:166px;
    
}

#info{
    font-size: 80%;
}

#filtrorep {
    text-align: center;
}



dati-rep-pub{
    text-align: center;
    display: table;
}

#rowhead{
    display:table-row;
    padding-bottom: 20px;
    text-align: center;
     font-weight: bold;
   background-color: brown;  
    
}

#rowel{
    display:table-row;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
    background-color: silver;
    
}


#cell{
    display:table-cell;
    padding:10px;
    width:150px; 
    text-align: center;
}

#testo-rif{
    text-align: justify;
    max-width: 810px;
    font-size: 110%;
    cursor: pointer;
    border:double;
    padding: 1em;
}

#testo-rif > p {
    display:none;
}
#cont{
    display:block;
}

#oggetto{
     
    padding-bottom: 20px;
    text-align: justify;
     font-weight: bold;
     width:850px;
}

#oggetto > hr{
    
    color: brown;
}

#filtrorep{
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: left;
    font-weight: bolder;
    
}